*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  /* CSS variables */
  --color-red: #BE0606;
  --color-black: #000000;
}
@media only screen and (max-width: 600px) {
  :root {
    font-size: 95%;
  }
}

header {
  background-color: var(--color-black);
  position:fixed;
  width: 100%;
  top:0;
  z-index: 99;
}

.header-container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-container .wrapper {
  display:flex;
  justify-content: space-between;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  color: var(--color-red);
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 378px) {
  h1 {
    font-size: 1.4rem;
  }
}

.header-description {
  font-family: 'Manrope', sans-serif;
  color:white;
  padding-bottom: 1rem;
}

.see-nominations{
  cursor:pointer;
  background:unset;
  font-weight: bolder;
  color: rgb(214, 214, 214);
  border: none;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 0.3rem;
  box-sizing: content-box;
  border: rgb(29, 29, 29) 2px solid;
  padding: 0.5rem;
  border-radius: 1px;
  height: 4rem;
}

.see-nominations img{
  width:2.2rem;
}

@media only screen and (max-width: 500px) {
  .see-nominations{
    background:unset;
    display:flex;
    font-size:0.2rem;
    margin-right:0.5rem;
    padding-bottom: 0.5rem;
    border:none;
    height: 3rem;
  }
  .see-nominations img{
    width:2rem;
    box-sizing: content-box;
    border: #2d2d2d 2px solid;
    padding: 0.4rem;
    border-radius: 5px;
  }

  .see-nominations p {
    display:none;
  }
}

main {
  max-width: 1000px;
  margin: 9rem auto 0;
  padding:1rem 1rem 0;
  display:flex;
  flex-direction: column;
  color:white;
  overflow-y: scroll;
}

main::-webkit-scrollbar {
  display:none;
}

main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.stop-scroll {
  overflow: hidden;
}

/* left section */
.search-result-section {
  width:100%;
  height: calc(100vh - 11rem);
  transition: width 1s;
  position:relative;
}

.search-input {
  height: 2.8rem;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  font-size: 1rem;
  text-align: center;
  background-image: url('./search.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 1rem top 50%, 0 0;
  background-size: 1.2rem;
}

.result-text-container{
  display:flex;
  justify-content: space-between;
  padding:1rem 0;
}

.movie-result-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 0.4rem;
  margin-bottom: 1rem;
}

.movie-result-card{
  border: solid 2px #2d2d2d;
  height: 23rem;
  display:flex;
  flex-direction:column;
  padding: 0.6rem;
}

.nominated {
  filter:opacity(10%);
}

.movie-img {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

.movie-img-unavailable{
  width: 100%;
  height: 15rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

.movie-description {
  /* margin-left: 1rem;
  width: calc(100% - 10rem); */
  font-family: 'Manrope', sans-serif;
  display:grid;
  grid-template-rows: 4.9rem 2.4rem;
}

h3.movie-title {
  font-weight: lighter;
  font-size: 0.8rem;
  text-align: center;
  display: grid;
  place-content: center;
}

.movie-rating {
  font-size: 0.8rem;
  /* font-weight: bold; */
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
}

.stars {
}

.nominate-button {
  border: none;
  color:white;
  text-transform: uppercase;
  cursor: pointer;
}

/* right section */
.nomination-section {
  background: #000000;
  border-radius: 5px;
  position: fixed;
  top: 7rem;
  left: 0;
  width: 100%;
  height: calc(100vh - 7rem);
  padding: 1rem;
  z-index: 99;
  overflow-y: auto;
  overflow-x: hidden;
  /* display: grid;
  grid-template-rows: 1fr auto 1fr; */
  
}

@media screen and (max-width:500px){
  .nomination-section {
    top:6rem;
    height: calc(100vh - 6rem);
  }
}

.welcome-section {
  /* height: 100vw; */
  height: 100%;
  padding:1rem;
  display:flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.welcome-section h3 {
  font-size:2rem;
  color: grey;
}
.welcome-section p {
  padding:1rem;
}

.nominated-card-container{
  grid-template-columns: repeat(auto-fit, 13rem);
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  max-width: 1040px;
  margin-bottom: 1rem;
  place-content: center;
}

.nominated-card {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter:brightness(85%);
  cursor: pointer;
}

.nominated-movie-img {
  height: 22rem;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  border: 4px solid black;
}

@media screen and (max-width: 670px) {
  .nominated-card-container{
    grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
    grid-gap: 1rem;
  }
  /* .nominated-movie-img {
    height: 29rem;
  } */
}

.nominated-img-unavailable {
  width: 15rem;
  height: 22rem;
  margin: 1rem 0;
  background-size:contain;
  background-repeat: no-repeat;
  border: 3px solid black;
  border-radius: 4px;
}

h2.nominations {
  font-family: 'Quicksand', sans-serif;
  display:grid;
  place-content: center;
  text-align:center;
  font-size: 2.2rem;
  height: 20%;
}

@media only screen and (max-width:500px){
  h2.nominations {
    font-size: 1.5rem;
    height: auto;
    margin: 2rem 0;
  }
}

.nominated-title {
  position:absolute;
  top: 2rem;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--color-black);
}

.nominated-stamp {
  text-transform: uppercase;
  color: #FFC329;
  font-size:2rem;
  border: solid 2px #FFC329;
  box-shadow: 2px 2px 4px #000000;
  text-shadow: 2px 2px 4px #000000;
  padding: 5px;
  transform: rotate(-20deg);
}

.dark-filter {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.733);
}

.remove-btn {
  background-color: #BC0000;
  border:none;
  padding: 0.5rem 2.5rem;
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size:1.2rem;
  border-radius: 4px;
  position:absolute;
  top:70%;
  left:50%;
  transform: translateX(-50%);
  cursor: pointer;
}

@media (hover:hover) {
  .remove-btn:hover {
    background-color: #970101;
  }
}

/*** LOADING ICON ***/
.loading-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:50vw;
  text-align: center;
  
}

.loading-container > p {
  color:#BC0000;
}

.loading-image {
  border-radius: 50%;
  width:3rem;
  height:3rem;
  border:inset 10px #BC0000;
  animation: spin 0.3s linear infinite;
  margin-bottom:10px;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.placeHolderImg-container{
  display: flex;
  justify-content: center;
}
.placeHolderImg {
  width: 90%;
  max-width: 850px;
  height: 60vh;
}

/*Clear All and Load More Button Styling */
.button-container {
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
}


.button {
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  border: solid white 1px;
  display: grid;
  place-content: center;
  background: black;
  cursor: pointer;
}
.button p {
  color:white;
  text-transform: uppercase;
}

/* Balloons */
.balloon1 {
  position:fixed;
  animation: balloonMove;
  pointer-events: none;
  left:-20rem;
}

.balloon2 {
  position:fixed;
  animation: balloonMove;
  pointer-events: none;
  left:-20rem;
}

@keyframes balloonMove {
  from {
    bottom: -3%;
    left:-2%;
  }
  to {
    bottom: 100%;
    left: 100%;
  }
}