*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 100%;
  
  /* CSS variables */
  --color-red: #BE0606;
  --color-black: #000000;
}

header {
  background-color: var(--color-black);
}

.header-container{
  max-width: 1200px;
  padding: 1rem 0;
  margin: 0 auto;
  padding:15px;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  color: var(--color-red);
}

.header-description {
  font-family: 'Manrope', sans-serif;
  color:white;
}

main {
  max-width: 1200px;
  margin: 1rem auto;
  padding:15px;
  display:flex;
  color:white;
}

/* left section */
.search-result-section {
  width:100%;
  margin-right: 15px;
  transition: width 1s;
}

.search-input {
  height: 2.8rem;
  width: 100%;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
  font-size: 1rem;
  text-align: center;
  background-image: url('./search.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 1rem top 50%, 0 0;
  background-size: 1.2rem;
}

.result-text-container{
  display:flex;
  justify-content: space-between;
  padding:1rem;
}

.movie-result-card-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;
}

.movie-result-card{
  border: solid 2px #2d2d2d;
  height: 16rem;
  display:flex;
  padding: 1rem;
}

.nominated {
  filter:opacity(10%);
}

.movie-img {
  width: 10rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.movie-description {
  margin-left: 1rem;
  width: calc(100% - 10rem);
  font-family: 'Manrope', sans-serif;
  display:grid;
  grid-template-rows: 3fr 2fr 1fr;
}

h3.movie-title {
  font-weight: lighter;
}
.movie-rating {
  font-size: 0.8rem;
  /* font-weight: bold; */
  display:flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-evenly;
}

.stars {
}

.nominate-button {
  background-color:var(--color-red);
  border: none;
  color:white;
  text-transform: uppercase;
  cursor: pointer;
}

/* right section */
.nomination-section {
  width:23rem;
  background: #191919;
  border-radius: 5px;
}

.nominated-card-container{
  display:flex;
  flex-direction: column-reverse;
  padding:0 1rem 1rem;
}

.nominated-card {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter:brightness(85%);
}

.nominated-movie-img {
  width: 15rem;
  height: 22rem;
  background-size:cover;
  background-repeat: no-repeat;
  border: 10px solid black;
}

h2.nominations {
  font-family: 'Quicksand', sans-serif;
  display:grid;
  place-content: center;
  height:6rem;
}

.nominated-stamp {
  text-transform: uppercase;
  color: #FFC329;
  font-size:2rem;
  border: solid 2px #FFC329;
  box-shadow: 2px 2px 4px #000000;
  text-shadow: 2px 2px 4px #000000;
  padding: 5px;
  transform: rotate(-20deg);
}

.dark-filter {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.733);
}

.remove-btn {
  background-color: #BC0000;
  border:none;
  padding: 0.5rem 2.5rem;
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size:1.2rem;
  border-radius: 4px;
  position:absolute;
  top:70%;
  left:50%;
  transform: translateX(-50%);
}


/*** LOADING ICON ***/
.loading-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  height:50vw;
  text-align: center;
  
}

.loading-container > p {
  color:#BC0000;
}

.loading-image {
  border-radius: 50%;
  width:3rem;
  height:3rem;
  border:inset 10px #BC0000;
  animation: spin 0.3s linear infinite;
  margin-bottom:10px;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}


.placeHolderImage {
  height: 55vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-33%);
  max-width: 850px;
}